<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Underliner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F577DEF11DE8DB0A0069D8AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F577DF041DE8DB0D0069D8AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F577DF0F1DE8DB0D0069D8AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
